{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}<div id="about" class="about wrapper">
  <div class="container withPadding">
    <!-- <h3 class="about__title subtitle">Обо мне</h3> -->
    <div class="about__blocks">
      <img src="static/image/about.jpg" alt="" class="about__photo" loading="lazy">
      <div class="about__paper text">
        <div class="about__name">Меня зовут Светлана Исакова</div>
        <p class="about__text">
          Рада видеть вас на моем сайте! <br>
Порой мы ищем помощь, когда внутри чувствуем боль, становится тревожно или просто неуютно. Для меня очень важно, чтобы в работе со мной вы почувствовали тепло, принятие и возможность быть услышанным. <br>
Я практикующий психолог, психотерапевт со специализацией по методам современной когнитивно-поведенческой психотерапии 3-й волны: ACT, CFT, MBSR, DBT. Схема-терапевт. Сертифицированный коуч, бизнес-коуч. Тренер групп по работе с психологической травмой. Действительный член ОППЛ. Член Ассоциации травма терапевтов.
        </p>
      </div>
      <div class="about__paper join">
        <p class="about__text">
        Я искренне люблю свою профессию, потому что моя работа - это особый стиль мышления, радость от достигнутого результата, возможность самореализации. <br>
        Каждый день нахожу время на свое развитие. Люблю театры, кино, много читаю любую литературу: художественную, психологическую и книги по философии. <br>
        Любимая цитата: "У человека можно отнять всё, кроме одного: последней свободы человека - выбирать собственное отношение к любым обстоятельствам, выбирать собственный путь."- Виктор Франкл, автор книги "Сказать жизни "Да!"
        </p>
      </div>
    </div>
    <div class="about__paper_second join">
      <p class="about__text__second">
        Если вы обратитесь ко мне, то на консультации мы: <br>
        -  совместно определяем важные для вас цели; <br>
        - разрабатываем стратегию работы, оптимальную именно для вас; <br>
        - на каждой встрече применяем эффективные методы и инструменты; <br>
        -  контролируем постепенное движение вперед к поставленной цели; <br>
        - отмечаем достигнутые успехи!
      </p>
      <p class="about__text__second">
        Основа нашей работы – это абсолютное доверие, которое строится на принципах: <br>
      - Полная конфиденциальность и анонимность. <br>
      - Безоценочное принятие и уважение к вашему опыту. <br>
      - Искренняя поддержка на каждом этапе нашего сотрудничества.
      </p>
      <p class="about__text__second">
        Почему клиенты выбирают работу со мной: <br>
        Научный фундамент. Фундаментальное образование в Московском институте психоанализа, одном из ведущих психологических вузов России. <br>
        Глубина и структура работы. Уникальный синтез доказательной психотерапии и практического коучинга. Это системная работа на результат. <br>
        Профессиональные сообщества. Я являюсь Действительным членом ОППЛ и членом Ассоциации травма терапевтов, что гарантирует строгое соблюдение конфиденциальности, этического кодекса и постоянное повышение моей квалификации через супервизии. <br>
      </p>
    </div>
  </div>
</div>
{% endblock %}