{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}<div id="about" class="about wrapper">
  <div class="container withPadding">
    <!-- <h3 class="about__title subtitle">Обо мне</h3> -->
    <div class="about__blocks">
      <!-- <img src=".//photo_about1.png" alt="" class="about__photo" loading="lazy"> -->
      <div class="about__paper text">
        <div class="about__name">Меня зовут Светлана Исакова</div>
        <p class="about__text">
          ------
        </p>
      </div>
      <div class="about__paper join">
        <p class="about__text big">
          ------
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}