{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}<div id="about" class="about wrapper dark">
  <div class="container withPadding">
    <!-- <h3 class="about__title subtitle">Обо мне</h3> -->
    <div class="about__blocks">
      <img src="static/image/about.jpg" alt="" class="about__photo" loading="lazy">
      <div class="about__paper border1 text">
        <div class="about__name">Меня зовут Светлана Исакова</div>
        <p class="about__text">
          Рада видеть вас на моем сайте! <br>
Порой мы ищем помощь, когда внутри чувствуем боль, становится тревожно или просто неуютно. Для меня очень важно, чтобы в работе со мной вы почувствовали тепло, принятие и возможность быть услышанным. <br>
Я практикующий психолог, психотерапевт со специализацией по методам современной когнитивно-поведенческой психотерапии 3-й волны: ACT, CFT, MBSR, DBT. Схема-терапевт. Сертифицированный коуч, бизнес-коуч. Тренер групп по работе с психологической травмой. Действительный член ОППЛ. Член Ассоциации травма терапевтов.
        </p>
      </div>
      <div class="about__paper border2 join">
        <p class="about__text">
        Я искренне люблю свою профессию, потому что моя работа - это особый стиль мышления, радость от достигнутого результата, возможность самореализации. <br>
        Каждый день нахожу время на свое развитие. Люблю театры, кино, много читаю любую литературу: художественную, психологическую и книги по философии. <br>
        Любимая цитата: "У человека можно отнять всё, кроме одного: последней свободы человека - выбирать собственное отношение к любым обстоятельствам, выбирать собственный путь."- Виктор Франкл, автор книги "Сказать жизни "Да!"
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}