<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar">Светлана Исакова
        <a href="/">Светлана Исакова</a>
        <div class="navbar-links">
            <a href="/about-me">Про меня</a>
            <a href="/services">Услуги</a>
            <a href="/documents">Документы</a>
            <a href="/contacts">Контакты</a>
        </div>
    </nav>
</body>
</html>