<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="header">
        <nav class="navbar container space-between">
            <!-- <div class="logo">
                <a href="/">Светлана Исакова</a>
            </div> -->
            <div class="navbar-links"> 
                <a class="navbar-item" href="/">Главная</a>
                <a class="navbar-item" href="/about-me">Про меня</a>
                <a class="navbar-item" href="/services">Услуги</a>
                <a class="navbar-item" href="/documents">Документы</a>

            </div>
        </nav>
    </div>
    {% block content %}{% endblock %}
    <footer class="footer dark">
        <div class="container withPadding">
        <div class="box footer__info">
        <p class="footer__occupation">Семейный психолог</p>
        <p class="footer__name">Ольга Латынцева</p>
        </div>
        <div class="box">
        <div class="footer__contacts flex">
            <div class="footer__phone">
            <img src="./Семейный Психолог в Москве - Ольга Латынцева_files/phone.png" alt="" loading="lazy">
            <a class="hover" href="tel:+79062389933">+7 (906) 238 9933</a>
            </div>
            <div class="footer__address">
            <img src="./Семейный Психолог в Москве - Ольга Латынцева_files/location.png" alt="" loading="lazy">
            <a class="hover" target="_blank" href="https://yandex.ru/maps/-/CHq55AYw">Москва, ул. Мясницкая 46, стр 1</a>
            </div>
        </div>
        <div class="footer__copyright">
            <span id="year">2026</span> © Психолог Ольга Латынцева. Все права защищены
        </div>
        <div class="footer__copyright">
            <br>
            <a href="https://olgalatynceva.ru/">Семейный психолог в Москве
            </a></div>
        
        <div class="footer__copyright">
            <br>
        ОГРНИП: 317392600045247, ИНН: 390901593665, ИП Лобарева Ольга Анатольевна
        </div>
        
        <div class="footer__copyright">
            <br>
            <!--noindex--><a href="https://olgalatynceva.ru/files/offer.pdf" target="_blank" rel="nofollow">Договор оферты</a><!--/noindex-->,
            <!--noindex--><a href="https://olgalatynceva.ru/files/cookie.pdf" target="_blank" rel="nofollow">Политика в отношении Cookie</a><!--/noindex-->,
            <!--noindex--><a href="https://olgalatynceva.ru/files/personal.pdf" target="_blank" rel="nofollow">Обработка персональных данных</a><!--/noindex-->,
            <!--noindex--><a href="https://olgalatynceva.ru/files/metrika.pdf" target="_blank" rel="nofollow">Обработка данных с помощью сервиса «ЯНДЕКС.МЕТРИКА»</a><!--/noindex-->
        </div>
        
        
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>