<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header class="header dark">
        <div class="container flex space-between align-center">
            <ul class="header__nav flex">
                <li class="nav__item hover">
                    <a class="scrollTo" href="/">Главная</a>
                </li>
                <li class="nav__item hover">
                    <a class="scrollTo" href="/about-me">Обо мне</a>
                </li>
                <li class="nav__item hover">
                    <a class="scrollTo" href="/services">Услуги</a>
                </li>
                <li class="nav__item hover">
                    <a class="scrollTo" href="/documents">Сертификаты</a>
                </li>
            </ul>
            <a href="https://yandex.ru/maps/7/kostroma/house/prospekt_tekstilshchikov_40_39/YEkYfwZoQEYCQFttfXt2c3RrYg==/?ll=40.918935%2C57.772886&z=17.19" target="_blank" class="header__location hover">
            <img src="static/image/location.png" alt="" loading="lazy">
            Кострома, проспект Текстильщиков 40/39</a>

            <div class="header__socials">
            <a href="https://vk.ru/svetlana_isakova_psyholog" target="_blank" class="header__social hover">
                <img src="static/image/vk.png" alt="" loading="lazy">
            </a>
            <a href="https://max.ru/u/f9LHodD0cOKC64sJtwSsgzALVOIC9Lo_Mx9Kk5o0J4McEv7yk9jXiHFg9W0" target="_blank" class="header__social hover">
                <img src="static/image/max.png" alt="" loading="lazy">
            </a>
            <a href="https://t.me/Svetlana_Isakova29" target="_blank" class="header__social hover">
                <img src="static/image/tg.png" alt="" loading="lazy">
            </a>
            </div>
            <a href="tel:+79502424457" class="header__phone hover">+7 (950) 242-44-57</a>
            <!-- <button
            aria-label="#signup"
            class="button blue header__button mobile scrollTo"
            >
            Записаться
            </button> -->
            <div class="header__socials special">
            <a href="https://vk.ru/svetlana_isakova_psyholog" target="_blank" class="header__social hover">
                <img src="static/image/vk.png" alt="" loading="lazy">
            </a>
            <a href="https://max.ru/u/f9LHodD0cOKC64sJtwSsgzALVOIC9Lo_Mx9Kk5o0J4McEv7yk9jXiHFg9W0" target="_blank" class="header__social hover">
                <img src="static/image/max.png" alt="" loading="lazy">
            </a>
            <a href="https://t.me/Svetlana_Isakova29" target="_blank" class="header__social hover">
                <img src="static/image/tg.png" alt="" loading="lazy">
            </a>
            </div>
            <button class="header__mob hover">
            <img src="static/image/menu_mob.png" alt="" loading="lazy">
            </button>
        </div>
        <div class="header__mobile-block container">
            <a href="https://yandex.ru/maps/-/CHq55AYw" target="_blank" class="header__location special hover">
            <img src="static/image/location.png" alt="" loading="lazy">
            Москва, Мясницкая 46, стр 1
            </a>
        </div>
    </header>
    {% block content %}{% endblock %}

    <div class="sidebar">
        <div class="sidebar__underlay"></div>
        <div class="sidebar__side">
            <button class="sidebar__close hover">
                <img src="static/image/close.png" class="closeIcon" alt="" loading="lazy">
            </button>
            <ul class="sidebar__menu">
                <li class="sidebar__item hover">
                    <a class="scrollTo" href="/">Главная</a>
                </li>
                <li class="sidebar__item hover">
                    <a class="scrollTo" href="/about-me">Обо мне</a>
                </li>
                <li class="sidebar__item hover">
                    <a class="scrollTo" href="/services">Услуги</a>
                </li>
                <li class="sidebar__item hover">
                    <a class="scrollTo" href="/documents">Сертификаты</a>
                </li>
            </ul>

            <a href="https://yandex.ru/maps/7/kostroma/house/prospekt_tekstilshchikov_40_39/YEkYfwZoQEYCQFttfXt2c3RrYg==/?ll=40.918935%2C57.772886&z=17.19" target="_blank" class="sidebar__address hover">
            <img src="static/image/location.png" alt="" loading="lazy">
            Кострома, проспект Текстильщиков 40/39
            </a>

            <div class="sidebar__socials">
                <a href="https://vk.ru/svetlana_isakova_psyholog" target="_blank" class="sidebar__social hover">
                    <img src="static/image/vk.png" alt="" loading="lazy">
                </a>
                <a href="https://max.ru/u/f9LHodD0cOKC64sJtwSsgzALVOIC9Lo_Mx9Kk5o0J4McEv7yk9jXiHFg9W0" target="_blank" class="sidebar__social hover">
                    <img src="static/image/max.png" alt="" loading="lazy">
                </a>
                <a href="https://t.me/Svetlana_Isakova29" target="_blank" class="sidebar__social hover">
                    <img src="static/image/tg.png" alt="" loading="lazy">
                </a>
            </div>
        </div>
    </div>

<footer class="footer dark">
    <div class="container withPadding">
    <div class="box footer__info">
    <p class="footer__occupation">Психолог</p>
    <p class="footer__name">Светлана Исакова</p>
    </div>
    <div class="box">
    <div class="footer__contacts flex">
        <div class="footer__phone">
            <img src="static/image/phone.png" alt="" loading="lazy">
        <a class="hover" href="tel:+79502424457">+7 (950) 242-44-57</a>
        </div>
        <div class="footer__address">
        <img src="static/image/location.png" alt="" loading="lazy">
        <a class="hover" target="_blank" href="https://yandex.ru/maps/7/kostroma/house/prospekt_tekstilshchikov_40_39/YEkYfwZoQEYCQFttfXt2c3RrYg==/?ll=40.918935%2C57.772886&z=17.19">Кострома, проспект Текстильщиков 40/39</a>
        </div>
    </div>
    <div class="footer__copyright">
        <span id="year">2026</span> © Психолог Светлана Исакова. Все права защищены
    </div>
    <div class="footer__copyright">
        <br>
        <a href="https://olgalatynceva.ru/">-----
        </a></div>
    
    <div class="footer__copyright">
        <br>
    ОГРНИП: , ИНН: , ИП 
    </div>
    
    <div class="footer__copyright">
        <br>
        <!--noindex--><a href="static/image/oferta.pdf" target="_blank" rel="nofollow">Договор оферты</a><!--/noindex-->,
        <!--noindex--><a href="static/image/cookie.pdf" target="_blank" rel="nofollow">Политика конфиденциальности</a><!--/noindex-->
    </div>
    
    
        </div>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/lightbox.js"></script>
</body>
</html>