{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="documents-list">
    <div class="list-element"><img src="static/image/doc_1.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_2.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_3.jpg" alt=""></div>
    <br>
    <div class="list-element"><img src="static/image/doc_4.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_5.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_6.jpg" alt=""></div>
    <br>
    <div class="list-element"><img src="static/image/doc_7.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_8.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_9.jpg" alt=""></div>
    <br>
    <div class="list-element"><img src="static/image/doc_10.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_11.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_12.jpg" alt=""></div>
    <br>
    <div class="list-element"><img src="static/image/doc_13.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_14.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_15.jpg" alt=""></div>
    <br>
    <div class="list-element"><img src="static/image/doc_16.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_17.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_18.jpg" alt=""></div>
    <br>
    <div class="list-element"><img src="static/image/doc_19.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_20.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_21.jpg" alt=""></div>
    <br>
    <div class="list-element"><img src="static/image/doc_22.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_23.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_24.jpg" alt=""></div>
    <br>
    <div class="list-element"><img src="static/image/doc_25.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_26.jpg" alt=""></div>
    <div class="list-element"><img src="static/image/doc_27.jpg" alt=""></div>
    <br>
    <div class="list-element"><img src="static/image/doc_28.jpg" alt=""></div>
    <!-- <div class="list-element"><img src="static/image/doc_29.jpg" alt=""></div> -->
</div>
{% endblock %}