{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="banner wrapper">
  <div class="container withPadding">
    <div class="banner__top">
      <!-- <include src="./src/components/tile.html"></include> -->
      <div class="banner__box">
        <h1>
          <div class="banner__prof">Психолог</div>
          <div class="banner__name">Светлана Исакова</div>
        </h1>
<!--        <h2 class="banner__prof">Психолог</h2>-->
<!--        <h1 class="banner__name">Светлана Исакова</h1>-->
        <button aria-label="#signup" class="button blue banner__button desktop popup-init">
          Записаться на консультацию
        </button>
      </div>
      <button aria-label="#signup" class="button blue banner__button mobile popup-init">
        Записаться на консультацию
      </button>
    </div>

    <div class="banner__facts">
      <div class="fact">
        <span class="fact__title">12 лет</span>
        <p class="fact__text">Опыт успешного консультирования</p>
      </div>
      <div class="fact">
        <span class="fact__title">3500 часов</span>
        <p class="fact__text">Проведенных <br> консультаций</p>
      </div>
      <div class="fact">
        <span class="fact__title">Более 500</span>
        <p class="fact__text">Достигнутых целей по бизнес-коучингу</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}