{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="services-header">
        <h1>Услуги</h1>

        <p>
            Explore our most popular partnership packages designed to<br>
            help property owners achieve effortless, profitable returns
        </p>
    </div>

    <div class="services-container">

        <div class="service-card">
            <h2>Сложные эмоциональные состояния</h2>
            <ul>
                <li>Работа с травматическим опытом и ПТСР</li>
                <li>Проработка детских травм</li>
                <li>Работа с пограничным расстройством</li>
                <li>Преодоление тревожности и беспокойства, панические атаки</li>
                <li>Работа с обсессивно-компульсивным расстройством</li>
                <li>Экзистенциальные кризисы и поиск смысла</li>
                <li>Уверенность в себе и здоровая самооценка</li>
                <li>Развитие осознанности (mindfulness)</li>
                <li>Поиск идентичности и работа с кризисом «Кто я?»</li>
                <li>Кризисы и сложные жизненные решения</li>
            </ul>
        </div>

        <div class="service-card">
            <h2>Сложности в отношениях и коммуникации</h2>
            <ul>
                <li>Сложности в отношениях — партнерские, семейные, рабочие</li>
                <li>Созависимые отношения</li>
                <li>Трудности сепарации</li>
                <li>Выстраивание здоровых психологических границ</li>
                <li>Работа с одиночеством и построением социальных связей</li>
                <li>Развитие эмоционального интеллекта (EQ)</li>
            </ul>
        </div>

        <div class="service-card">
            <h2>Профессиональная самореализация и коучинг</h2>

            <ul>
                <li>Преодоление перфекционизма и прокрастинации</li>
                <li>Формирование личного бренда</li>
                <li>Коучинг, бизнес-коучинг</li>
                <li>Сопровождение творческих кризисов — для художников, писателей, музыкантов</li>
                <li>Психологическая подготовка к публичным выступлениям и коммуникациям</li>
                <li>Профессиональное самоопределение и поиск пути: от предназначения к карьере</li>
                <li>Тайм-менеджмент и продуктивность</li>
                <li>Профессиональное выгорание</li>
            </ul>
        </div>
    </div>
{% endblock %}